h1{
    text-align: center;
}

h2{
    text-align: left;
    width: 45%;
    margin: auto;
    padding: 20px 0px 10px;
}
p{
    text-align: left;
    width: 45%;
    margin: auto;
}

img{
    margin:auto;
    align-self: center;
    width: 600px;
}

.navigation{
    text-align: center; 
    background: red;
    color: white;
    padding: 10px 30px;
    font-size: 36;
    width: 60%;
    font-weight: bold;
}

.navigation a{
    color: white;
}

div{
    width: 45%;
    margin: auto;
}

textarea{
    display: block;
    margin: auto;
    text-align: left;
}


button{
    display: block;
    margin: auto;
}
